@font-face {
  font-family: 'ReenieBeanie';
  src: url('./styles/fonts/ReenieBeanie.ttf') format('ttf');
}
body {
  font-family: 'ReenieBeanie', cursive;
}
.Game__main {
  display: flex;
  justify-content: center;
}
.GameListState__list::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  padding: 20px;
}
.GameListState__list::-webkit-scrollbar {
  width: 20px;
  background: transparent;
  padding: 20px;
}


.GameListState__list::-webkit-scrollbar-track {
  background: transparent;
}

.GameListState__list::-webkit-scrollbar-thumb {
  background: rgba(3, 79, 76, 0.42);
  border-radius: 20px;
}

.GameListState__list::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 79, 76, 0.42);
}
.App {
  background: url("./styles/icons/Desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

.Fern__title {
  color: #FF456D;
  font-size: 80px;
  padding: 30px;
}